# Node
node_modules/
npm-debug.log*

# Java / Maven
*.class
*.jar
*.war
*.log
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db
__MACOSX/

# Env
.env
.env.local
.env.*.local

# Build
dist/
build/

backend/
frontend/
